<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RECHEFI</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div></div>
    <div>
      <span><img src="./logo.ico" /></span><span class="email-title box">RECHEFI</span>
      <span>에 오신 걸 환영합니다.</span>
      <hr />
      <br />
      <p>아래 링크를 클릭하여 인증을 완료해주세요.</p>
      <br />
      <a href="https://domain.com/{{ email }}/{{ token }}"> >> 클릭 시 RECHEFI 메인 화면으로 이동합니다.</a>
      <br />
      <p>인증 링크의 유효시간은 5분입니다.</p>
      <br />
      <hr />
    </div>
  </body>
</html>

<style>
  .email-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>
